@import '../../variables';

.user {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $main-color;
  padding: 10px 20px;

  @media screen and (min-width: $very-small-devices-landscape) {
    align-items: center;
  }

  @media screen and (min-width: $medium-devices) {
    padding: 25px 150px;
    justify-content: space-around;
  }

  @media screen and (min-width: $medium-devices-landscape) {
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    justify-content: space-around;
    padding: 20px 100px;
  }

  @media screen and (min-width: $large-devices) {
    width: 60%;
  }

  @media screen and (min-width: $very-large-devices) {
    width: 50%;
  }

  .user__info {
    display: flex;
    align-items: center;
    border-right: 1px solid white;

    @media screen and (min-width: $medium-devices) {
      width: 50%;
    }

    @media screen and (min-width: $medium-devices-landscape) {
      width: 100%;
    }

    img {
      width: 70px;
      height: 70px;
      border-radius: 100px;
      margin-right: 10px;

      @media screen and (min-width: $medium-devices-landscape) {
        width: 120px;
        height: 120px;
      }

      @media screen and (min-width: $large-devices) {
       margin-right: 20px;
      }
    }

    h3 {
      font-size: 1.2rem;
      line-height: 1.3rem;
      color: $light-color;

 

      @media screen and (min-width: $small-devices) {
        width: 80px;
        font-size: 1.4rem;
        line-height: 1.4rem;
        margin-right: 20px;
      }

      @media screen and (min-width: $medium-devices) {
        font-size: 1.9rem;
        line-height: 1.9rem;
        margin-right: 50px;
        width: 100px;
      }

      @media screen and (min-width: $medium-devices-landscape) {
        font-size: 3rem;
        line-height: 3rem;
        width: 120px;
      }

      @media screen and (min-width: $large-devices) {
        font-size: 3.2rem;
        line-height: 3.2rem;
       }
    }
  }

  .user__repos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;

    @media screen and (min-width: $medium-devices) {
      width: 20%;
      margin-left: -40px;
    }

    @media screen and (min-width: $medium-devices-landscape) {
      width: 30%;
      height: fit-content;
      margin-left: 40px;

    }

    span {
      font-weight: 700;
      font-size: 2.5rem;
      color: $light-color;

      @media screen and (min-width: $medium-devices) {
        font-size: 3.5rem;
        line-height: 3.5rem;
        margin-bottom: 5px;
      }

      @media screen and (min-width: $medium-devices-landscape) {
        font-size: 6rem;
        margin: 0;
      }
    }

    p {
      margin-top: -10px;
      color: $light-color;

      @media screen and (min-width: $medium-devices-landscape) {
        font-size: 1.3rem;
        margin-top: 15px;
      }
    }
  }
}
