@import '../../variables';

.repository {
  background-color: $light-color;
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: $small-devices) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: $medium-devices) {
    display: flex;
    align-items: center;
    min-height: 80px;
    height: auto;
  }

  @media screen and (min-width: $medium-devices-landscape) {
    height: auto;
  }

  @media screen and (min-width: $very-large-devices) {
    min-height: 90px;
  }

  .repository__name {
    @media screen and (min-width: $medium-devices) {
      width: 200px;
    }

    @media screen and (min-width: $large-devices) {
      width: 300px;
    }

    h4 {
      word-wrap: break-word;
      
      @media screen and (min-width: $medium-devices) {
        border-right: 2px solid $main-color;
        padding: 10px 20px;
      }

      @media screen and (min-width: $medium-devices-landscape) {
        font-size: 1.2rem;
      }
    }
  }

  p {
    @media screen and (min-width: $medium-devices) {
      padding: 0 20px;
      width: calc(100% - 200px);
    }

    @media screen and (min-width: $medium-devices-landscape) {
      font-size: 1.1rem;
    }

    @media screen and (min-width: $large-devices) {
      width: calc(100% - 300px);
    }
  }

  hr {
    border: 1px solid $main-color;
    width: 60px;
    margin: 5px 0;

    @media screen and (min-width: $medium-devices) {
      display: none;
    }
  }
}
