@import '../../variables';

.repository {
  background-color: $light-color;
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 10px 0;

  hr {
    border: 1px solid $main-color;
    width: 60px;
    margin: 5px 0;
  }
}
