$main-color: #00BFB3;
$background-color: #434343;
$neutral-color: #F9F9F9;
$dark-neutral-color: #E0E0E0;
$light-color: #FFF;

//breakpoints
$very-small-devices: 320px;
$very-small-devices-landscape: 568px;


$small-devices: 414px;
$small-devices-landscape: 736px;

$medium-devices: 768px;
$medium-devices-landscape: 1024px;

$large-devices: 1440px;

$very-large-devices: 1920px;