@import './variables';

.App {
  width: 100%;
  min-height: 100vh;
  background-color: rgba($color: #e4e3e3, $alpha: 0.1);
  background-image: url('./assets/logotipo-do-github.svg');
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center 300px;
  background-attachment: fixed;

  @media screen and (min-width: $small-devices) {
    background-position: center 400px;
  }

  @media screen and (min-width: $medium-devices) {
    background-size: 140%;
    background-position: center 500px;
  }

  @media screen and (min-width: $medium-devices-landscape) {
    background-size: 90%;
    background-position: 500px center;
  }

  @media screen and (min-width: $large-devices) {
    background-size: 80%;
    background-position: 800px center;
  }

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
